<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3">
							<img src="<%= image_path('user-avatar.png') %>" alt="..." class="profile-avatar img-rounded img-responsive">
						</div>
						<div class="col-md-9"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>