<% content_for :institute_settings do %>
	<h2>
	  Sections
	</h2>
	<div class="row">
		<div class="col-md-5">
			<%= select_tag :batch, options_for_select(@batches.map{|m| [m.name, m.id]}), class: "form-control", prompt: "--Choose Batch--", onchange: "gettingSections(this);" %>
		</div>
	</div>
	<hr />
	<div class="sections">
		<%= render "listing_sections" %>
	</div>
<% end %>