<% if params[:controller] == "administrations/settings" and not(params[:action] == "index") and current_resource_name.to_s == "admin" %>
  <div class="container-fluid">
    <div class="page-heading-admin-settings">
      Admin Settings
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="admin-settings settings-list-group">
          <%= link_to "Admin Account", admin_account_settings_path, class: "list-group-item" %>
          <%= link_to "Week Days & Timings", set_week_days_settings_path, class: "list-group-item" %>
          <%= link_to "Batches", current_batches_settings_path, class: "list-group-item" %>
        </div>
      </div>
      <div class="col-md-9">
        <%= yield :admin_settings %>
      </div>
    </div>
  </div>
<% end %>