<%= form_tag scheduling_room_path, method: :post, id: "scheduleForm" do %>
  <div class="modal fade" id="scheduleTeacherTimeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <hr />
        <div class="modal-body">
          <%= hidden_field_tag :time_slot_id, @timeslot.id %>
          <p class="text-center">
            <span class="week_day">
              <strong><%= @timeslot.week_day %></strong>
            </span>
          </p>
          <p class="text-center"><i class="fa fa-clock-o fa-3x"></i></p>
          <p class="text-center">
            <span class="timings">
              <%= @timeslot.timings %>
            </span>
          </p>
          <div class="row">
            <div class="col-md-6">
              <blockquote>
                <strong>
                  Available Classrooms:
                  <small>Total: <%= @available_classrooms.length %></small>
                </strong>
              </blockquote>
              <br />
              <div class="scrollable">
                <ul class="list-group">
                  <% @available_classrooms.each do |classroom| %>
                    <li class="list-group-item text-center" data-classroom-id="<%= classroom.id %>">
                      <div class="radio" style="margin-top:1px;">
                        <%= radio_button_tag :classroom_id, classroom.id, false, id: "classroom_#{classroom.id}" %>
                        <label for="classroom_<%= classroom.id %>" style="padding-left:7px;"><strong>Classroom <%= classroom.name %></strong></label>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <blockquote class="blockquote-reverse">
                <strong>Select Your Course: 
                  <small>(You have <%= pluralize(@count_teacher_allocations.to_i, "Allocation") %> in pending)</small>
                </strong>
              </blockquote>
              <br />
              <div class="scrollable">
                <% @teacher_allocations.each do |allocation| %>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <%= allocation.course.detailed_name %>
                      <!-- Course Allocation Params -->
                      <%= hidden_field_tag :teacher_id, allocation.teacher_id %>
                      <%= hidden_field_tag :batch_id, allocation.batch_id %>
                    </div>
                    <div class="panel-body">
                      <ul class="list-group">
                        <% allocation.sections(allocation).each do |section| %>
                          <%= hidden_field_tag "course_id_#{section.id}", allocation.course_id %>
                          <% if CourseAllocation.reserved_allocation?(allocation, section)  %>
                            <li class="list-group-item text-center" data-section-id="<%= section.id %>">
                              <div class="radio" style="margin-top:1px;">

                                <%= radio_button_tag :section_id, section.id, false, id: "section_#{section.id}" %>

                                <label for="section_<%= section.id %>" style="padding-left:7px;"><strong>Section <%= section.name %></strong></label>
                              </div>
                            </li>
                          <% else %>
                            <li class="list-group-item text-center"><strong>Section '<%= section.name %>'</strong> (Reserved)</li>
                          <% end %>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <%= submit_tag "Book This Room!", class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
<% end %>