<div class="jumbotron text-center">
  <h1><%= current_student.full_name %></h1>
  <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>

<div class="row">
  <div class="col-lg-6">
  	<div class="panel panel-info">
  		<div class="panel-heading">
  			Groups
  		</div>
  		<div class="panel-body">
  			<h4>Mobile First</h4>
		    <p>Responsive by default, and a clean "flat" design.</p>
		    
		    <h4>Powerful Grid</h4>
		    <p>3 responsive grid sizes to control the grid layout on tiny, small and large displays.</p>
  		</div>
  	</div>
  </div>
  
  <div class="col-lg-6">
    <div class="panel panel-info">
  		<div class="panel-heading">
  			Assignments
  		</div>
  		<div class="panel-body">
  			<h4>Mobile First</h4>
		    <p>Responsive by default, and a clean "flat" design.</p>
		    
		    <h4>Powerful Grid</h4>
		    <p>3 responsive grid sizes to control the grid layout on tiny, small and large displays.</p>
  		</div>
  	</div>
  </div>
</div>
<hr>