<% if teachers.present? %>
  <table class="table table-striped table-hover table-checked-list-box">
    <thead>
      <tr>
        <th>Emp #</th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody data-type="teachers">
      <% teachers.each do |teacher| %>
        <tr>
          <td><%= teacher.employee_number %></td>
          <td><%= teacher.full_name %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="no-record">
    <blockquote><p>No teachers available</p></blockquote>
  </div>
<% end %>