<% content_for :settings do %>
	<h2>
	  Batches
	  <button class="btn btn-info pull-right" onclick="$('#session_modal').modal('show')">
	    Add New
	  </button>
	  <%= render "new_batch" %>
	</h2>

	<div class="academic_batches">
	  <%= render "listing_batches" %>
	</div>
<% end %>