<% if @teacher_allocations.present? %>
	<%= render layout: "layouts/shared/time_table" do |time_table| %>
    <% reserved_seat = current_resource.has_room_scheduled?(time_table.time_slot.id, @batch_id) %>
    <% if reserved_seat.present? %>
      <% time_table = reserved_seat.first.reserved_detail(time_table.time_slot.id) %>
      <%= marked_cell(time_table) %>
    <% else %>
      <% if time_table.time_slot.available_classrooms.length == 0 %>
        <span class="label label-danger" data-toggle="tooltip" data-placement="top" title="There are no rooms available in this time.">
          N/A
        </span>
      <% else %>
        <%= link_to "Available", "javascript:void(0);", id: "time_cell", onclick: "window.$timetable.openTimeScheduleCell(this);", data: { url: schedule_a_time_path(week_day: time_table.time_slot.week_day, time: time_table.time_slot.start_time, format: :js) } %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
	<div class="well">
		<strong>No Allocations present in this batch to Schedule.</strong>
	</div>
<% end %>
