<div class="page-header">
	<h1>Welcome to Dot Mark, <small><%= @resource.full_name %></small></h1>
</div>
<div class="alert alert-danger">
	<blockquote>
		<p>You have successfully been registered to Dot Mark</p>
	</blockquote>
</div>

<div class="alert alert-info">
	<p>
	  A Confirmation Email will be send soon to you. You will be assigned <strong>Username</strong> and <strong>Password</strong> to access you account on our <strong>Website!</strong> once after you confirm your account
	</p>
</div>

<p>Thanks for joining and have a great day!</p>