$(".courses").hide().html("<%= escape_javascript(render 'listing_courses', courses: @semesters).html_safe %>").fadeIn(500)

$('.best_in_place').best_in_place();
$('.best_in_place').bind().on('ajax:error', function(){
	$('.purr').prepend('<span class=\'glyphicon glyphicon-exclamation-sign\'></span> ');
});

$('.color_picker').minicolors({theme: 'bootstrap'});