<% content_for :settings do %>
	<h2>
	  Courses
	  <button class="btn btn-info pull-right" onclick="$('#course_modal').modal('show')">
	    Add New
	  </button>
	</h2>
	<%= render "form" %>
	<hr />
	<div class="scrollable">
		<div class="courses">
		  <%= render "listing_courses" %>
		</div>
	</div>
<% end %>