<%# add navigation links to this file %>
<% if admin_signed_in? %>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Enrollments <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
      <li>
      	<a href="#" data-target="#admission_modal" data-toggle="modal"><i class="fa fa-graduation-cap"></i> New Student</a>
      </li>
      <li class="divider"></li>
      <li>
        <%= link_to "Students", students_path %>
      </li>
    </ul>
  </li>
<% else %>
	<li><%= link_to 'About', page_path('about') %></li>
<% end %>

<%= render "students/registrations/enroll_form" %>